.1 {
	background-color: #F5F5F5;	
	color:#000000;	
}

.2 {
	background-color: #DEDEDE;	
	color:#DEDEDE;	
}

.3 {
	background-color: #CCCCCC;	
	color:#CCCCCC;	
}

.4 {
	background-color: #BFBFBF;	
	color:#BFBFBF;	
}


.6 {
	background-color: #858585;	
	color:#858585;	
}

.7 {
	background-color: #858585;	
	color:#858585;	
}

.8 {
	background-color: #666666;	
	color:#666666;	
}

.9 {
	background-color: #515151;	
	color:#515151;	
}

.10 {
	background-color: #3F3F3F;	
	color:#3F3F3F;	
}

.11 {
	background-color: #3F3F3F;	
	color:#3F3F3F;	
}