body {

  	margin: 0 auto;
  	background-color:#E6E6E6;
  	max-width: 780px;
  	width: 90%;
}


.logo {
	font-family: helvetica, arial;
	margin-top: 80px;

}

.subtitles {
	font-size: 14px;
	line-height:1.5;
	text-transform: uppercase;
	font-family: helvetica, arial;
    font-weight: 900;
    font-style: normal;
    color:#999999;
}

.medium-style {
	font-size: 22px;
	line-height:1.5;
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
}

.note {
	margin-top: 10px;
	font-size: 14px;
	line-height:1.5;
	font-family: helvetica, arial;
    font-weight: 400;
    font-style: normal;
    color:#999999;
}
